
npm update react react-dom.h1{
    color:rgb(123, 123, 248);
    text-align: center;
   }
   
  .articulo {  
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      background-color: gray;
      width: 300px;
      height: 100%;
      margin: 10px;
      justify-content: center;
      direction: columna;     

    }
    .articulo:hover {    
      box-shadow: 0 8PX 16PX 0RGBA(0,0,0,0.2);
      }
    
    .articulo-container {    
      padding: 2px 16px;
     }

    .imagen-restaurante {    
      width: 100%;
      justify-content: center;  
     }
          
    .Nombre {    
      font-family: Arial;
      font-size: 10px;
      font-weight: normal;
      text-align: right;
     }

     .Descripcion {    
      font-family: Arial;
      font-size: 10px;
      font-weight: normal;
      text-align: right;
     }

     .Direccion {    
      font-family: Arial;
      font-size: 10px;
      font-weight: normal;
      text-align: right;
     }
        
    .container-lg {    
      margin: auto;
      margin-top: 0;
      width: 1300px;
      height: 90%;
      background-color: rgb(155, 173, 173);
      display: flex;
      justify-content: center;
        
     }
    .articulo:hoper {         
      box-shadow: o 8px 16px o rgba(0,0,0,0,2);
     }
     
     #contenedorFilas {
      display: flex;
      justify-content: center;
     }
       
     .row {    
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: gray;
        width: 300px;
        height: 90%;
        margin: 20px;
        justify-content: center;
  
      }

      .row-1 {    
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 70px;
        height: 90%;
        margin: 30px;
        justify-content: center;
  
      }